---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: cf-google-auth
  annotations:
    kubernetes.io/change-cause: "Release: {{APP_VERSION}}"
spec:
  replicas: 1 #{{REPLICAS}}
  revisionHistoryLimit: 50
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 50%
      maxSurge: 50%
  selector:
    matchLabels:
      app: cf-google-auth
  template:
    metadata:
      annotations:
        scheduler.alpha.kubernetes.io/affinity: >
          {
            "nodeAffinity": {
              "requiredDuringSchedulingIgnoredDuringExecution": {
                "nodeSelectorTerms": [
                  {
                    "matchExpressions": [
                      {
                        "key": "nodeType",
                        "operator": "NotIn",
                        "values": ["internal", "worker"]
                      }
                    ]
                  }
                ]
              }
            }
          }
      labels:
        app: cf-google-auth
        app-version: {{APP_VERSION}}
    spec:
      imagePullSecrets:
        - name: docker-registry
      terminationGracePeriodSeconds: 10
      containers:
      - name: cf-google-auth
        image: codefresh/cf-google-auth:{{APP_VERSION}}
        imagePullPolicy: Always
        env:
        - name: NODE_ENV
          value: production
        ports:
        - containerPort: 5555
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /api/ping
            port: 80
          periodSeconds: 5
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
      restartPolicy: Always
